<%= form_with(model: nhacungcap) do |form| %>
  <% if nhacungcap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nhacungcap.errors.count, "error") %> prohibited this nhacungcap from being saved:</h2>

      <ul>
        <% nhacungcap.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idnhacungcap %>
    <%= form.number_field :idnhacungcap %>
  </div>

  <div class="field">
    <%= form.label :tennhacungcap %>
    <%= form.text_field :tennhacungcap %>
  </div>

  <div class="field">
    <%= form.label :diachi %>
    <%= form.text_field :diachi %>
  </div>

  <div class="field">
    <%= form.label :thongtindaidien %>
    <%= form.text_area :thongtindaidien %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
