<p id="notice"><%= notice %></p>

<p>
  <strong>Idnhacungcap:</strong>
  <%= @nhacungcap.idnhacungcap %>
</p>

<p>
  <strong>Tennhacungcap:</strong>
  <%= @nhacungcap.tennhacungcap %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @nhacungcap.diachi %>
</p>

<p>
  <strong>Thongtindaidien:</strong>
  <%= @nhacungcap.thongtindaidien %>
</p>

<%= link_to 'Edit', edit_nhacungcap_path(@nhacungcap) %> |
<%= link_to 'Back', nhacungcaps_path %>
