<p id="notice"><%= notice %></p>

<p>
  <strong>Idloai:</strong>
  <%= @loaithuoc.idloai %>
</p>

<p>
  <strong>Tenloai:</strong>
  <%= @loaithuoc.tenloai %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @loaithuoc.ghichu %>
</p>

<%= link_to 'Edit', edit_loaithuoc_path(@loaithuoc) %> |
<%= link_to 'Back', loaithuocs_path %>
