<p id="notice"><%= notice %></p>

<p>
  <strong>Idnhasanxuat:</strong>
  <%= @hangsx.idnhasanxuat %>
</p>

<p>
  <strong>Tenhang:</strong>
  <%= @hangsx.tenhang %>
</p>

<p>
  <strong>Quocgia:</strong>
  <%= @hangsx.quocgia %>
</p>

<%= link_to 'Edit', edit_hangsx_path(@hangsx) %> |
<%= link_to 'Back', hangsxes_path %>
