<p id="notice"><%= notice %></p>

<p>
  <strong>Tenthuoc:</strong>
  <%= @thuoc.tenthuoc %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @thuoc.ghichu %>
</p>

<p>
  <strong>Congdung:</strong>
  <%= @thuoc.congdung %>
</p>

<p>
  <strong>Idnhasanxuat:</strong>
  <%= @thuoc.idnhasanxuat %>
</p>

<p>
  <strong>Idnhacungcap:</strong>
  <%= @thuoc.idnhacungcap %>
</p>

<p>
  <strong>Idloai:</strong>
  <%= @thuoc.idloai %>
</p>

<%= link_to 'Edit', edit_thuoc_path(@thuoc) %> |
<%= link_to 'Back', thuocs_path %>
